body {
    background-color: grey;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex; 
    justify-content: space-around;
    padding: 20px;
}

a {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-size: 50px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    width: 100%;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 10px 0;
}

.container label {
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

.container input {
    width: 300px;
    padding: 8px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 300px;
    align-self: center; 
}
