body {
    background-color: grey;
    margin: 0;
}

nav {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex; 
    justify-content: space-around;
    padding: 20px;
}

a {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-size: 50px;
}

a:hover {
    text-decoration: underline;
}

p {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}