body {
    background-color: gray;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

nav {
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex; 
    justify-content: space-around;
    padding: 20px;
}

a {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-size: 50px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    width: 100%;
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.container {
    text-align: center;
}

input {
    margin-left: 10px;
    padding-left: 10px;
    width: 400px;
}

button {
    width: 100px;
    margin-left: 50%;
    margin-top: 30px;
}